@model IEnumerable<GeorgianBudgetSaver.Models.CourseProgram>
<div class="program-container">
    <h1>Georgian Programs</h1>
    <table class="table table-light table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                @if (User.IsInRole("Administrator"))
                {
                    <th style="text-align:center; width:20%;">
                        Action
                    </th>
                }
                <th style="text-align:center; width:10%;">
                    Books
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <td style="text-align:center">
                            <a type="button" class="btn btn-edit" asp-action="Edit" asp-route-id="@item.CourseProgramId"><i class="bi bi-pencil-square"></i></a>
                            <a type="button" class="btn btn-delete" asp-action="Delete" asp-route-id="@item.CourseProgramId"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    }
                <td style="text-align:center">
                    <form asp-controller="Books" asp-action="Index" method="post">
                        <input type="hidden" asp-for="@item.CourseProgramId" name="id" />
                        <button type="submit" class="btn btn-search-icon btn-sm"><i class="bi bi-search"></i></button>
                    </form>
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>