@model IEnumerable<GeorgianBudgetSaver.Models.CourseProgram>

@*@{
    ViewData["Title"] = "Index";
}*@
<div class="table-view">
    <h1>Georgian Programs</h1>

    @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                @if (User.IsInRole("Administrator"))
                {
                    <th>
                        Edit
                    </th>
                    <th>
                        Detail
                    </th>
                    <th>
                        Delete
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @if (User.IsInRole("Administrator")) { 
                    <td>
                        <a type="button" class="btn btn-outline-light btn-sm" asp-action="Edit" asp-route-id="@item.CourseProgramId">Edit</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-light btn-sm" asp-action="Details" asp-route-id="@item.CourseProgramId">Details</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-light btn-sm" asp-action="Delete" asp-route-id="@item.CourseProgramId">Delete</a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>