@model IEnumerable<GeorgianBudgetSaver.Models.Book>

@*@{
    ViewData["Title"] = "Index";
}*@
<div class="table-view">
    <h1>Book</h1>

    @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BoughtDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InStock)
                </th>
                <th>
                    @* @Html.DisplayNameFor(model => model.CourseProgram.Title)*@
                    Program
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.Username)
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Detail
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BoughtDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseProgram.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.Username)
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-light btn-sm" asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-light btn-sm" asp-action="Details" asp-route-id="@item.BookId">Details</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-light btn-sm" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>