@model IEnumerable<GeorgianBudgetSaver.Models.Account>

@*@{
    ViewData["Title"] = "Index";
}*@

<h1>Account</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                Edit
            </th>
            <th>
                Detail
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <a type="button" class="btn btn-outline-light btn-sm" asp-action="Edit" asp-route-id="@item.AccountId">Edit</a>
            </td>
            <td>
                <a type="button" class="btn btn-outline-light btn-sm" asp-action="Details" asp-route-id="@item.AccountId">Details</a>
            </td>
            <td>
                <a type="button" class="btn btn-outline-light btn-sm"asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
