@model IEnumerable<GeorgianBudgetSaver.Models.Order>

<div class="container" style="margin:6rem auto; width:60%;">
    @if (User.IsInRole("Administrator"))
    {
        <h1>All Order</h1>
    }
    else
    {
        <h1>My Order</h1>
    }
    <hr />
    @foreach (var item in Model)
    {
        <div class="card mb-2" style="background-color:#7180AC; padding-top:.2rem; border:none;">
            <div class="card-body list-group-item d-flex justify-content-between lh-condensed" style="background-color:white; border-radius:.2rem;">
                <div>
                    <h6 class="my-0">Order Number: #@item.OrderId</h6>
                    <small class="text-muted">Placed on: @String.Format("{0:d}", item.OrderDate)</small>
                </div>
                <form asp-controller="OrderDetails" asp-action="DetailsWithOrder" method="post" class="align-items-center">
                    <span class="align-middle">Total: @String.Format("{0:c}", item.Total)@("(CAD)")</span>
                    <input type="hidden" asp-for="@item.OrderId" name="orderId" />
                    <button type="submit" class="btn order-detail"><i class="bi bi-chevron-right"></i></button>
                </form>
               @* <div class="align-items-baseline">
                    <a asp-action="Details" asp-route-id="@item.OrderId" class="order-detail"><i class="bi bi-chevron-right"></i></a>
                </div>*@
            </div>
        </div>
    }

</div>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
